@using Web.Models

@model SpotsViewModel

@{
    ViewBag.Title = "Spots";
    ViewBag.CurrentView = "Spots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Parking Spots</h2>
<hr />
<div class="row">
    @{
        var base64imageString = Model.Ad.AdEncoding;
        var imgSrc = string.Format("data:image/gif;base64,{0}", base64imageString);
        <img src="@imgSrc" />
    }
</div>

@Html.Partial("~/Views/Spots/_Locations.cshtml", Model)

